vendor/
node_modules/
.git/
.gitignore
.env
.env.*
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!bootstrap/cache/.gitignore
*.md
.DS_Store
tests/
.phpunit.result.cache
phpunit.xml